@{
    ViewData["Title"] = "Privacy Policy";
}
@model User
<div class="d-flex justify-content-between">
    <h1>Welcome , @Context.Session.GetString("username")!</h1>
    <form asp-action="Logout" asp-controller="Home" method="post">
        <input type="submit" value="Logout" class="btn btn-danger">
    </form>
</div>
<div>
    <h4>@Model.FirstName</h4>

</div>