<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="process" method="post">
        <p>Username : <input type="text" name="name"></p>
    <div>
         <label >Dojo Location:</label>
        <select name="location" >
            <option value=" San Jose">San Jose</option>
            <option value="Africa">Africa</option>
            
        </select>
    </div>
    <br>
    <div>
         <label >Favorite language:</label>
        <select name="language" >
            <option value=" Arabic">Arabic</option>
            <option value="Frensh">Frensh</option>
            
        </select>
    </div>
    <br>
    <p>Comment :</p>
    <textarea name="comment" rows="4" cols="50"  ></textarea>
       <br>
        <button>Submit</button>
    </form>
</body>
</html>