<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>User Name : @ViewBag.Name</h4>
    <h4>Dojo Location : @ViewBag.Location</h4>
    <h4>Favorite Language : @ViewBag.Language</h4>
    <h4> Comment : @ViewBag.Comment</h4>

   <button><a href="/">Go Back</a></button> 

</body>
</html>