﻿@{
    ViewData["Title"] = "Home Page";
}
@model Song
<div class="text-center">
    <h1 class="display-4">🎶 Post Your Best Song 🎶</h1>
    <div class="card shadow border p-3">
    <h4 class="card-head text-success text-center">🎙️Song Form 🎙️</h4>
    <div class="card-body">
        <form asp-action="CreateSong" asp-controller="Home" method="post">
            <div class="form-group mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input class=" form-control" asp-for="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Singer" class="form-label"></label>
                <input class=" form-control" name="Singer">
                <span asp-validation-for="Singer" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ReleaseYear" class="form-ckeck-label"></label>
                <input class=" form-control" asp-for="ReleaseYear">
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2 justify-content-center mb-3">
                <label asp-for="IsExplicit" class="form-ckeck-labell">Is Explicit ?</label>
                <input class=" form-check" asp-for="IsExplicit">
            </div>
            <button class="btn btn-success w-100"> Post Your Song 🎙️🎶🎵</button>
        </form>
    </div>
</div>
</div>